    <% @title = 'サインイン' %>
    <div id="content" class="fade-in l-table">
        <div id="login-wrapper" class="l-table-row">
            <div class="l-table-cell">
                <section class="login-modal">
                                    <div class="login-modal-title">

                                        <div class="login-modal-title-text">

                                            サインイン

                                        </div>
                                    </div>
                                    <div class="login-modal-content">
                                        <%= form_for @login_form, url: :staff_session do |f| %>

                       
        
                                            <div class="field email-field fade-label">
                                                    <label class="text" for="email">
                                                                <span style="">



                                                                </span>
                                                    </label>
                                            <input id="staff_login_form_email" class="text" type="email" spellcheck="false" size="30" 
                                            name="staff_login_form[email]" autofocus="autofocus" autocorrect="off" autocomplete="off" autocapitalize="off" placeholder="メールアドレス"></input>

                                            </div>
                                        <div class="message-box-error-wrapper">

                                                <div class="message-box-error"></div>

                                        </div>
                                        <div class="field password-field fade-label">

                                                <label class="text" for="password">
                                                    <span style="">



                                                    </span>
                                                </label>
                                                <input id="staff_login_form_password" class="text" type="password" value="" size="30" 
                                                name="staff_login_form[password]" placeholder="パスワード"></input>

                                        </div>
                                        <input type="hidden" value="" name="return_to"></input>

                                        <div class="footer">

                                            <button class="btn btn-green track-event" type="submit" iD="login" name="commit">

                                                        <span class="button-text">

                                                            サインイン

                                                        </span>
                                            </button>
                                        </div>
                                        <% end %>

                                        <div id="secondary-footer">
                                            <input name="staff_login_form[remember_me]" type="hidden" value="0">
                                            <input id="staff_login_form_remember_me" name="staff_login_form[remember_me]" type="checkbox" value="1">
                                            <label for="staff_login_form_remember_me">次回から自動サインインする。</label>
                                        </div>


                                    </div>

                 </section>
            </div>
        </div>
    </div>